<ng-template #dialogContent>                                                   
  <div class="modal-header">                                                   
    <h4 class="modal-title">                                                   
      <span i18n>Lineitem Partial Receive</span>                                        
    </h4>                                                                      
    <button type="button" class="btn-close btn-close-white"                    
      i18n-aria-label aria-label="Close" (click)="close()"></button>           
  </div>                                                                       
  <div class="modal-body form-validated">                                                     
    <h5 i18n>Modifying received item count for {{lineitemId}}</h5>       

    <div class="row mt-3">                                                     
      <div class="col-lg-12"><b>Lineitem # {{lineitemId}}</b></div>
    </div>

    <div class="row mt-3">                                                     
      <div class="col-lg-12">
        {{liTitle}}
      </div>
    </div>

    <div class="row mt-3">                                                     
      <div class="col-lg-9" i18n># Items in Shipment</div>                                
      <div class="col-lg-3">{{asnItemCount}}</div>                                                  
    </div>                                                                     

    <div class="row mt-3">                                                     
      <div class="col-lg-9" i18n># Missing/Damaged Items</div>                                
      <div class="col-lg-3">                                                   
        <input type="number" class="form-control" [(ngModel)]="nonViableItemCount"/>
      </div>                                                                   
    </div>                                                                     

    <div class="row mt-3">                                                     
      <div class="col-lg-9" i18n>Lineitem Note</div>                                
      <div class="col-lg-3" i18n>
        <input required type="text" class="form-control" 
          placeholder="DIBs..." i18n-placeholder [(ngModel)]="staffInitials"/>
      </div>
    </div>
    <div class="row mt-3">                                                     
      <div class="col-lg-12">                                                   
        <textarea required type="text" class="form-control" [(ngModel)]="lineitemNote">
        </textarea>
      </div>                                                                   
    </div>                                                                     

    <div class="row mt-3" *ngIf="processing">
      <div class="col-lg-12">
        <eg-progress-inline #loadProgress></eg-progress-inline>
      </div>
    </div>

  </div>                                                                       
  <div class="modal-footer">                                                   
    <button type="button" class="btn btn-success" [disabled]="!canSubmit()"
      (click)="modify()" i18n>Modify</button>                         
    <button type="button" class="btn btn-warning"                              
      (click)="close()" i18n>Cancel</button>                                   
  </div>                                                                       
</ng-template>
