<eg-staff-banner bannerText="Patron Item Requests" i18n-bannerText></eg-staff-banner>
<eg-prompt-dialog #vendorPrompt dialogTitle="Enter a Vendor" i18n-dialogTitle>
</eg-prompt-dialog>
<eg-prompt-dialog #notePrompt dialogTitle="Add Note" i18n-dialogTitle>
</eg-prompt-dialog>
<eg-select-dialog #routeToDialog
  [options]="routeToOptions"
  dialogTitle="Select a Route-To Value" i18n-dialogTitle>
</eg-select-dialog>

<eg-item-request-dialog #requestDialog></eg-item-request-dialog>

<ng-template #patronBarcodeTemplate let-row="row">
  <ng-container *ngIf="row.usr().card()">
    <a target="_blank" routerLink="/staff/circ/patron/{{row.usr().id()}}">
      {{row.usr().card().barcode()}}
    </a>
  </ng-container>
</ng-template>

<ng-template #routeToTemplate let-row="row">
  {{row.route_to() | uppercase}}
</ng-template>

<!-- Grid Filters -->

<div class="border-bottom border-top mb-2">
  <div class="d-flex">
    <div class="border border-2 rounded p-1">
      <button class="btn btn-primary" (click)="toggleIsActive()"
        [disabled]="newGridFilters.isActive" i18n>Active</button>
      <button class="btn btn-primary ms-2" (click)="toggleIsActive()"
        [disabled]="!newGridFilters.isActive" i18n>Other</button>
    </div>
    <div class="ms-2 border border-2 rounded p-1">
      <button class="btn btn-primary" (click)="setClaimStateFilter(CLAIM_STATE_UNCLAIMED)"
        [disabled]="newGridFilters.claimState === CLAIM_STATE_UNCLAIMED" i18n>
        Unclaimed
      </button>
      <button class="btn btn-primary ms-2" (click)="setClaimStateFilter(CLAIM_STATE_CLAIMED)"
        [disabled]="newGridFilters.claimState === CLAIM_STATE_CLAIMED" i18n>
        Claimed
      </button>
      <button class="btn btn-primary ms-2" (click)="setClaimStateFilter(CLAIM_STATE_MINE)"
        [disabled]="newGridFilters.claimState === CLAIM_STATE_MINE" i18n>
        Mine
      </button>
    </div>
    <div class="ms-2 border border-2 rounded p-1">
      <button class="btn btn-primary" (click)="toggleRouteToFilter()"
        [disabled]="newGridFilters.routeToAcq" i18n>
        Purchasing
      </button>
      <button class="btn btn-primary ms-2" (click)="toggleRouteToFilter()"
        [disabled]="!newGridFilters.routeToAcq" i18n>
        ILL
      </button>
    </div>
    <div class="ms-2 border border-2 rounded p-1 d-flex">
      <div>
        <select [(ngModel)]="formatFilter" class="form-select" (change)="grid.reload()">
          <option value="" i18n>All Formats</option>
          <option *ngFor="let format of formats" [value]="format.code()">
            {{format.label()}}
          </option>
        </select>
      </div>
      <div class="ms-2">
        <select [(ngModel)]="audienceFilter" class="form-select" (change)="grid.reload()" >
          <option value="" i18n>All Audiences</option>
          <option *ngFor="let audience of audiences" [value]="audience.code()">
            {{audience.label()}}
          </option>
        </select>
      </div>
      <div class="ms-2">
        <select [(ngModel)]="languageFilter" class="form-select" (change)="grid.reload()">
          <option value="" i18n>All Languages</option>
          <option *ngFor="let language of languages" [value]="language.code()">
            {{language.label()}}
          </option>
        </select>
      </div>
    </div>
    <div class="ms-auto p-1">
      <button class="btn btn-outline-dark" (click)="resetFilters()" i18n>Reset</button>
    </div>
  </div>
  <div class="d-flex mt-2">
    <div class="_ms-2 _border _border-2 _rounded p-1 d-flex">
      <input type="text" class="form-control" [(ngModel)]="searchTitle" 
        (keyup.enter)="grid.reload()"
        placeholder="Title..." i18n-placeholder/>
      <input type="text" class="form-control ms-2" [(ngModel)]="searchAuthor" 
        (keyup.enter)="grid.reload()"
        placeholder="Author..." i18n-placeholder/>
      <input type="text" class="form-control ms-2" [(ngModel)]="searchIsbn" 
        (keyup.enter)="grid.reload()"
        placeholder="ISBN..." i18n-placeholder/>
      <input type="text" class="form-control ms-2" [(ngModel)]="searchFamilyName" 
        (keyup.enter)="grid.reload()"
        placeholder="Last Name..." i18n-placeholder/>
      <div class="input-group ms-2">
        <span class="input-group-text">Create Date</span>
        <eg-date-select-native
          [noFuture]="true"
          [ngModel]="createDateFilter"
          (valueChange)="applyDateFilter($event)">
        </eg-date-select-native>
      </div>
    </div>
  </div>
</div>

<eg-grid #grid idlClass="auir" [dataSource]="gridDataSource" pageSize="50"
  persistKey="staff.cat.requests" (onRowActivate)="showRequestDialog($event)"
  [cellTextGenerator]="cellTextGenerator"
  [showDeclaredFieldsOnly]="true">

  <eg-grid-toolbar-button i18n-label label="New Request"
    (onClick)="newRequest()">
  </eg-grid-toolbar-button>

  <eg-grid-toolbar-action i18n-label label="Claim for Processing"
    (onClick)="claimItems($event)">
  </eg-grid-toolbar-action>

  <eg-grid-toolbar-action i18n-label label="Apply Vendor"
    (onClick)="applyVendor($event)">
  </eg-grid-toolbar-action>

  <eg-grid-toolbar-action i18n-label label="Apply Route-To"
    (onClick)="applyRouteTo($event)">
  </eg-grid-toolbar-action>

  <eg-grid-toolbar-action i18n-label label="Add Staff-Only Note"
    (onClick)="addStaffNote($event)">
  </eg-grid-toolbar-action>

  <eg-grid-toolbar-action i18n-label label="Add Patron-Visible Note"
    (onClick)="addPatronVisibleNote($event)">
  </eg-grid-toolbar-action>

  <eg-grid-column i18n-label label="Request ID" path="id" [hidden]="true" [required]="true" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Status" path="_status">
  </eg-grid-column>
  <eg-grid-column path="usr.family_name" label="Patron Last Name" i18n-label>
  </eg-grid-column>
  <eg-grid-column name="patron_barcode" [cellTemplate]="patronBarcodeTemplate" label="Patron Card" i18n-label>
  </eg-grid-column>
  <eg-grid-column path="usr.profile.name" label="Patron Profile" i18n-label>
  </eg-grid-column>
  <eg-grid-column path="usr.first_given_name" label="Patron First Name" i18n-label>
  </eg-grid-column>
  <eg-grid-column path="usr._residence" label="District of Residence" i18n-label>
  </eg-grid-column>
  <eg-grid-column i18n-label [cellTemplate]="routeToTemplate" label="Route To" name="route_to" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Format" path="format.label" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="ISBN, etc." name="identifier" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Title" name="title" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Author" name="author" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Publisher" name="publisher" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Pubdate" name="pubdate" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Language" path="language.label" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Patron Notes" name="notes">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Request Date" name="create_date" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="ILL Opt-Out" name="ill_opt_out" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="ID Matched" name="id_matched" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Claimed By" path="claimed_by.usrname">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Claim Date" name="claim_date" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Vendor" name="vendor" [sortable]="true">
  </eg-grid-column>
  <eg-grid-column i18n-label label="Audience" path="audience.label" [sortable]="true">
  </eg-grid-column>
</eg-grid>


