
/* Make the card images 75% of their natural size */

.card-image-vert {
  max-height: 225px;
}

.card-image-horiz {
  max-height: 90px;
}

.mat-mdc-button:not(:disabled) {
    color: #005cbb;
}

h3, h2 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {font-size: x-large}
h3 {font-size: large}

/* KCLS blue */
.banner { 
  border: 1px solid rgba(0, 63, 107, 0.5);
}
