<!--
<div class="grid sm:grid-cols-1 md:grid-cols-5 gap-3 border border-slate-600">
-->
<div class="w-100 flex kcls-register">
  <div class="w-1/5"></div>

  <!--
  <div class="sm:col-span-1 md:col-span-3 lg:col-span-3 xl:col-span-3 2xl:col-span-2 border border-yellow-500">
  -->
  
  <div class="w-3/5">
    <div class="flex justify-center">
      <h1 i18n>Welcome to King County Library System!</h1>
    </div>
    <div class="mt-4 flex justify-center text-lg">
      Your library card is key to unlocking your curiosity. Let's get
      started by finding the right card for you!
    </div>
    <div class="flex">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="w-1/5"></div>

  <!--
  <ng-container *ngIf="false">
  <div class="flex-1 pt-8">
    <ng-container *ngIf="!register.inKioskMode">
      <a href='https://kcls.bibliocms.com/faq/library-cards/' i18n>Related FAQs</a>

      <h2 i18n>Download an Application</h2>

      <ul class="list-disc ml-8">
        <li class="mt-3" *ngFor="let lang of languageForms">
          <a href="https://w3.kcls.org/PDF/applications/{{lang.pdf}}">{{lang.label}}</a>
        </li>
        <li class="mt-3">
          You'll need <a href='https://get.adobe.com/reader/'>PDF Reader</a>
        </li>
        <li class="mt-3">
          <hr/>
          Read our <a href='https://kcls.bibliocommons.com/info/privacy'>Privacy Policy</a>.
        </li>
      </ul>
    </ng-container>
  </div>
  </ng-container>
  -->

</div>


