@use "tailwindcss/base";
@use "tailwindcss/utilities";


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

// --mdc-filled-text-field-error-label-text-color: #F6323E;

/* BC screen reader links are not correctly hidden via their API. */
.screen_reader_nav {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 0;
}

/* BC header navigation stays collapsed for some reason */
/* min-width may need some adjusting */
@media screen and (min-width: 1024px) {
  nav:has(> #header_main_nav) { visibility: visible; }                         
}



/* EXAMPLE:
<a routerLink="/requests/list" class="mat-icon-plus-text" i18n>
  <span class="material-icons mr-2">list</span>
  View my requests
</a>
*/
.mat-icon-plus-text {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 
 * Local theming.  
 *
 * TODO: Use Angular theming overrides instead of direct style overrides.
 * https://github.com/angular/components/blob/main/guides/theming.md
 *
 * See also https://kclsorg.sharepoint.com/Departments/CommunityRelationsGraphics/GraphicsShare/Forms/AllItems.aspx?ga=1&id=%2FDepartments%2FCommunityRelationsGraphics%2FGraphicsShare%2FKCLS%20Branding%2F10%2D2024%20Brand%20Style%20Sheet%2Epdf&parent=%2FDepartments%2FCommunityRelationsGraphics%2FGraphicsShare%2FKCLS%20Branding
 */

$kcls-link-color: #012168;
$kcls-bg-color: #FFF;
$kcls-warning-color: #D3441C;

a, 
a:visited,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: $kcls-link-color !important;
}

.mat-mdc-form-field-error,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-floating-label {
  color: #F6323E !important;
}

.mat-mdc-raised-button:not(:disabled) {
  background: $kcls-link-color !important;
  color: $kcls-bg-color !important;
}

.kcls-raised-button-warning:not(:disabled) {
  background: $kcls-warning-color !important;
  color: $kcls-bg-color !important;
}

