<ng-container *ngIf="app.getAuthSession()">
  <div class="flex justify-center mt-5">
    <h2 i18n>My Requests</h2>
  </div>

  <div class="flex justify-center mt-4 p-2 border rounded" *ngIf="requests.length === 0" i18n>
    You Have No Requests
  </div>

  <div class="flex justify-center mt-4 p-2" *ngFor="let request of requests">
    <mat-card class="w-full">
      <mat-card-content>
        <div class="flex">
          <h3 i18n>Title: {{request.title}}</h3>
          <div class="flex-1"> </div>
          <div i18n>{{request.create_date | date}}</div>
        </div>
        <div class="mt-3 p-1 w-full">
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Author:</div>
            <div class="w-1/4 pl-2">{{request.author}}</div>
            <div class="w-1/4 pl-2" i18n>Identifier:</div>
            <div class="w-1/4 pl-2">{{request.identifier}}</div>
          </div>
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Publisher:</div>
            <div class="w-1/4 pl-2">{{request.publisher}}</div>
            <div class="w-1/4 pl-2" i18n>Publication Year:</div>
            <div class="w-1/4 pl-2">{{request.pubdate}}</div>
          </div>
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Language:</div>
            <div class="w-1/4 pl-2">{{request.language}}</div>
            <div class="w-1/4 pl-2" i18n>Format:</div>
            <div class="w-1/4 pl-2">{{request.format}}</div>
          </div>
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Comments:</div>
            <div class="w-3/4 pl-2">{{request.notes}}</div>
          </div>
        </div>

        <!-- request process/status stepper -->
        <mat-stepper #stepper [disableRipple]="true" selectedIndex="3">

          <!-- custom icons -->
          <ng-template matStepperIcon="completed">
            <mat-icon>check</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="pending">
            <mat-icon>pending_actions</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="skipped">
            <mat-icon>arrow_forward_ios</mat-icon>
          </ng-template>

          <mat-step label="Pending" state="pending" [completed]="true" state="completed">
          </mat-step>
          <mat-step label="Loan/Purchase Rejected" state="ill-rejected" state="skipped">
            <p i18n>Reason...</p>
          </mat-step>
          <mat-step label="Loan Request Submitted" state="ill">
            <p i18n>An Interlibary Loan Request has been submitted</p>
          </mat-step>
          <mat-step label="Item On Order" state="ordered" [completed]="true">
            <p i18n>Item has been ordered</p>
          </mat-step>
          <mat-step label="Received" state="pending">
          </mat-step>
        </mat-stepper>

<mat-stepper>
  <mat-step label="Step 1" state="phone">
    <p>Put down your phones.</p>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2" state="chat">
    <p>Socialize with each other.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    <p>You're welcome.</p>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-stepper>

      </mat-card-content>
      <mat-card-actions *ngIf="!request.reject_date && !request.cancel_date && !request.claim_date">
        <hr class="mt-2 mb-2"/>
        <div class="p-1 flex w-full">
          <ng-container *ngIf="request.route_to === 'ill'" i18n>
            <p>To cancel an Interlibrary Loan request, please email 
              <a target="_blank" href="mailto:illdept&#64;kcls.org">illdept&#64;kcls.org</a>
            </p>
          </ng-container>
          <ng-container *ngIf="cancelRequested !== request.id && request.route_to !== 'ill'">
            <button mat-raised-button (click)="cancel(request)" i18n>Cancel Request</button>
          </ng-container>
          <ng-container *ngIf="cancelRequested === request.id">
            <button mat-raised-button color="primary" (click)="cancelRequested = null" i18n>
              Never Mind
            </button>
            <div class="flex-1"></div>
            <button mat-raised-button color="accent" (click)="cancel(request)" i18n>
              Confirm Request Cancellation
            </button>
          </ng-container>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

