<ng-container *ngIf="app.getAuthSession()">
  <div class="flex justify-center mt-5">
    <h2 i18n>My Requests</h2>
  </div>

  <div class="flex justify-center mt-4 p-2 border rounded" *ngIf="requests.length === 0" i18n>
    You Have No Requests
  </div>

  <div class="flex justify-center mt-4 p-2" *ngFor="let request of requests">
    <mat-card class="w-full">
      <mat-card-content>
        <div class="flex">
          <h3 i18n>Title: {{request.title}}</h3>
          <div class="flex-1"> </div>
          <div i18n>{{request.create_date | date}}</div>
        </div>
        <div class="mt-3 p-1 w-full">
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Author:</div>
            <div class="w-1/4 pl-2">{{request.author}}</div>
            <div class="w-1/4 pl-2" i18n>Identifier:</div>
            <div class="w-1/4 pl-2">{{request.identifier}}</div>
          </div>
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Publisher:</div>
            <div class="w-1/4 pl-2">{{request.publisher}}</div>
            <div class="w-1/4 pl-2" i18n>Publication Year:</div>
            <div class="w-1/4 pl-2">{{request.pubdate}}</div>
          </div>
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Language:</div>
            <div class="w-1/4 pl-2">{{request.language}}</div>
            <div class="w-1/4 pl-2" i18n>Format:</div>
            <div class="w-1/4 pl-2">{{request.format}}</div>
          </div>
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Comments:</div>
            <div class="w-3/4 pl-2">{{request.notes}}</div>
          </div>
        </div>
        <div class="mt-3 p-1 w-full">
          <div class="w-full p-1 flex odd:bg-slate-50">
            <div class="w-1/4" i18n>Status:</div>
            <div class="w-1/4" i18n>{{getRequestStatus(request).label}}</div>
            <div class="w-1/4">
              <a class="mat-icon-plus-text" href="javascript:;" 
                i18n-title title="Show/Hide Status Details"
                (click)="showRequestDetails[request.id] = !showRequestDetails[request.id]">
                <ng-container *ngIf="showRequestDetails[request.id]">
                  <mat-icon>unfold_less</mat-icon>
                  <span class="ml-2" i18n>Hide Details</span>
                </ng-container>
                <ng-container *ngIf="!showRequestDetails[request.id]">
                  <mat-icon>read_more</mat-icon>
                  <span class="ml-2" i18n>More Details</span>
                </ng-container>
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="showRequestDetails[request.id]" class="mt-2">
          <ng-container *ngFor="let status of statuses; index as idx">
            <div *ngIf="idx > 0" class="border-l-2 ml-5 p-2 mt-1 mb-1 border-grey-500"></div>
            <div class="local-step flex ml-2">
              <div class="step-icon {{getStatusDisposition(request, status.code).class}}">
                <mat-icon>{{getStatusDisposition(request, status.code).icon}}</mat-icon>
              </div>
              <div class="ml-2" i18n>{{status.label}}</div>
            </div>
          </ng-container>
        </div>

      </mat-card-content>

      <mat-card-actions *ngIf="!request.reject_date && !request.cancel_date && !request.claim_date">
        <hr class="mt-2 mb-2"/>
        <div class="p-1 flex w-full">
          <ng-container *ngIf="request.route_to === 'ill'" i18n>
            <p>To cancel an Interlibrary Loan request, please email 
              <a target="_blank" href="mailto:illdept&#64;kcls.org">illdept&#64;kcls.org</a>
            </p>
          </ng-container>
          <ng-container *ngIf="cancelRequested !== request.id && request.route_to !== 'ill'">
            <button mat-raised-button (click)="cancel(request)" i18n>Cancel Request</button>
          </ng-container>
          <ng-container *ngIf="cancelRequested === request.id">
            <button mat-raised-button color="primary" (click)="cancelRequested = null" i18n>
              Never Mind
            </button>
            <div class="flex-1"></div>
            <button mat-raised-button color="accent" (click)="cancel(request)" i18n>
              Confirm Request Cancellation
            </button>
          </ng-container>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

