<ng-template i18n #helpTemplate>
  <ul>
    <li>Enter only the number/code for the street 2, e.g. "123" instead of "Apt 123"</li>
    <li>Provide as many address values as possible for improved matching.</li>
    <li>Different variations of an address can be helpful (e.g. 123 N St vs. 123 North St).</li>
    <li>"Is allowed" addresses require a Home Library and District of Residence.</li>
  </ul>
</ng-template>

<eg-title i18n-prefix prefix="User Address Exceptions"></eg-title>
<eg-staff-banner bannerText="User Address Exception Administration" i18n-bannerText>
</eg-staff-banner>

<eg-admin-page
    idlClass="cuae"
    disableOrgFilter="true"
    persistKey="admin.server.usr_address_exception"
    hideGridFields="id,created_by"
    readonlyFields="created_at,created_by"
    fieldOrder="reason,enabled,is_allowed,street1,street2,city,state,post_code,district_of_residence,home_ou,created_at"
    [helpTemplate]="helpTemplate"
    [defaultNewRecord]="defaultNewRecord">
</eg-admin-page>
