<mat-form-field class="gac-field" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input type="text" matInput autocomplete="off"
         [placeholder]="placeholder"
         [attr.aria-label]="label"
         [formControl]="search"/>
</mat-form-field>

<div class="gac-dropdown" *ngIf="loading || suggestions.length > 0">
  <div class="gac-async-row" *ngIf="loading">
    <mat-spinner diameter="18"></mat-spinner>
    <span i18n>Searching addresses&#8230;</span>
  </div>

  <ng-container *ngIf="!loading">
    <button type="button" class="gac-suggestion"
        *ngFor="let addr of suggestions | slice:0:displayLimit"
        (click)="select(addr)">
      <span class="material-icons gac-pin" aria-hidden="true">place</span>
      <span class="gac-sug-lines">
        <span class="gac-sug-primary">{{addr.street_line}}<ng-container
            *ngIf="addr.entries > 1"> ({{addr.entries}} units)</ng-container></span>
        <span class="gac-sug-secondary">{{addr.city}}, {{addr.state}} &#183; United States</span>
      </span>
    </button>

    <button type="button" class="gac-more" *ngIf="hiddenCount > 0"
        (click)="showMore()" i18n>
      Show {{hiddenCount}} more&#8230;
    </button>

    <div class="gac-refine-hint" *ngIf="expanded" i18n>
      Not seeing your address? Keep typing to refine the suggestions.
    </div>
  </ng-container>
</div>

<div class="gac-error" *ngIf="!loading && notFound">
  <ng-container i18n>                                                        
    We are unable to find this address in our service area.                  
  </ng-container>                                                            
  <ng-container *ngIf="!state.inKioskMode" i18n>                             
    Please <a href="https://kcls.bibliocommons.com/v2/locations">contact your library</a> for assistance.
  </ng-container>                                                            
  <ng-container *ngIf="state.inKioskMode" i18n>                              
    Please connect with one of our staff for additional assistance.
  </ng-container> 
</div>
